# ===== CMake =====
build/
build-*/
cmake-build-*/
cmake-debug/
cmake-release/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ===== IDEs =====
.idea/
*.iml
.vscode/

# ===== Binaries =====
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# ===== OS =====
.DS_Store
Thumbs.db

# Ignore all dependencies
Dependencies/*

# But keep csv_reader
!Dependencies/csv_Reader/
!Dependencies/csv_Reader/**

