# ===== CMake =====
build/
build-*/
cmake-build-*/
cmake-debug/
cmake-release/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# ===== IDEs =====
.idea/
*.iml
.vscode/

# ===== Binaries =====
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib

# ===== OS =====
.DS_Store
Thumbs.db

# Ignore everything inside Dependencies
Dependencies/*

# Re-allow the folder itself
!Dependencies/

# Re-allow csv_reader and its contents
!Dependencies/csv_reader/
!Dependencies/csv_reader/**


